<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @purchase.user_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @purchase.product_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @purchase.quantity %>
</p>

<%= link_to 'Pagar', @purchase.url_tpaga, method: :post %>
<%#= link_to 'Pagar', purchases_pay_request_path, method: :post %>

<%#= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%#= link_to 'Back', purchases_path %>
