<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong>Product:</strong>
  <%= @purchase.product.name %>
  <%= @purchase.product.description %>
</p>

  <%= link_to 'Pagar en TPAGA-APP', @purchase.url_tpaga %>
<p>
  <strong>Quantity:</strong>
  <%= @purchase.quantity %>

  <strong>Price:</strong>
  <%= @purchase.cost %>

  <strong>Status:</strong>
  <%= @purchase.status %>
</p>

<%#= link_to 'Pagar', purchases_pay_request_path, method: :post %>

<%#= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%#= link_to 'Back', purchases_path %>
